# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ren'Py cache files
cache/
*.rpyc
*.rpyb

# Ren'Py save files
saves/
*.save
persistent

# Log and error files
*.log
*.txt

# Ignore translation files
tl/

# Ignore compiled shaders
*.rps

# Ignore navigation JSON
navigation.json

# Ignore macOS system files
.DS_Store

# Ignore vscode-related stuff
.vscode/